@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}

/* Custom component styles */
@layer components {
  /* Button styles */
  .btn-primary {
    @apply bg-gradient-to-r from-blue-500 to-purple-900
    text-white px-6 py-3 rounded-lg font-semibold 
           hover:shadow-lg transition-transform duration-300 transform hover:scale-105;
  }

  .bg-color {
    @apply bg-gradient-to-r from-blue-500 to-purple-900
  }
  
  .btn-secondary {
    @apply bg-white text-gray-900 px-6 py-3 rounded-lg font-semibold border-2 border-gray-200
           hover:border-gray-300 transition-transform duration-300 transform hover:scale-105;
  }
  
  /* Card styles */
  .card {
    /* @apply bg-white rounded-xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300; */
    @apply bg-white rounded-xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300;
  }

  .hero-text {
    @apply bg-gradient-to-r from-purple-400 to-blue-700 bg-clip-text text-transparent

  }
  
 
  
  /* Section styles */
  .section-padding {
    @apply py-16 px-4 sm:px-6 lg:px-8;
  }
  
  /* Container styles */
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
}

/* Custom utilities */
@layer utilities {
  /* Safer alternative for text wrapping */
  .text-balance {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
